#game {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    top: 100px;
    width: 1000px;
    height: 500px;
    background-color: black;
}

#pacman {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
}

